* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--main-white);
}
:root {
  --main-gray: #011c27;
  --main-red: #ff0022;
  --main-blue: #41ead4;
  --main-white: #fdfffc;
  --main-purple: #b91372;
}
body {
  background-color: var(--main-gray);
}

h1 {
  padding: 4rem;
  font-size: 3rem;
  background-color: var(--main-blue);
  color: var(--main-gray);
  margin: 3rem;
  border-radius: 2rem;
}

h2 {
  padding: 3rem 0 0 0;
  font-size: 2rem;
  text-align: center;
}
p {
  padding: 4rem;
  text-align: center;
}

#about p {
  text-align: left;
}

.blog {
  border: 8px solid var(--main-blue);
  margin: 3rem;
  border-radius: 2rem;
}

.blog * {
  color: var(--main-white);
}
