* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--main-white);
}
:root {
  --main-gray: #011c27;
  --main-red: #ff0022;
  --main-blue: #41ead4;
  --main-white: #fdfffc;
  --main-purple: #b91372;
}
body {
  background-color: var(--main-gray);
  width: 100%;
}

h1 {
  font-size: 6rem;
  color: var(--main-blue);
  margin: 3rem;
  border-radius: 2rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin: 4rem;
  text-align: center;
}
p {
  margin: 3rem;
  text-align: center;
}

#about {
  display: grid;
  place-items: center;
}
#about p {
  text-align: left;
}

.blogs {
  display: grid;
  gap: 3rem;
  margin: 3rem;
  place-items: center;
}

.blog {
  border: 8px solid var(--main-blue);
  border-radius: 2rem;
  max-width: 800px;
}

.blog * {
  color: var(--main-white);
}
